.btn-download{
    background: $bgBtn;
    padding: 24px 126px 24px 129px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.457143px;
    text-transform: uppercase;
    border: none;
    color: $bgdark;
    z-index: 1;
    @media screen and (min-width: 320px) and (max-width: 767px){
        padding: 18px 94px;
        font-size: 16px;
        line-height: 19px;
    }
    &:hover{
       transform: scale(1.05);
       -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
       -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
       transition: all 0.3s;
       -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
       -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
    }
    &._active{
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        opacity: 1;
        transition: all 0.8s ease .8s;
        -webkit-transition: all 0.8s ease .8s;
        -moz-transition: all 0.8s ease .8s;
        -ms-transition: all 0.8s ease .8s;
        -o-transition: all 0.8s ease .8s;
}
}